@use 'sass:map';
@import 'colors';

.container {
  position: absolute;
  left: calc(10% - 3px);

  width: 100%;
  height: 20%;

  border-bottom: 1px solid map.get($colors, green);
  border-radius: 2px;

  display: flex;
  flex-direction: row;
}
