<div class="container">
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
  <app-button [class]="'raised'" [borderColor]="'red'">click me!</app-button>
</div>
