@use 'sass:map';
@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

*,
body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  overflow: hidden;
  box-sizing: border-box;

  line-height: 26px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

body {
  background-color: map.get($colors, background);
}
